.obsidian-file-tree-focus-path-setting {
    border: none;
}

.obsidian-file-tree-focus-path-setting .setting-item-control {
    justify-content: flex-start;
}

.obsidian-file-tree-focus-path-setting .setting-item-info {
    display: none;
}
